html, body {
  width: 100%;
  height: 100%;
  margin: 0; }

.text-vertical-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle; }

.text-vertical-center h1 {
  margin: 0;
  padding: 0;
  font-size: 4.5em;
  font-weight: 700; }

.header {
  display: table;
  position: static;
  width: 100%;
  height: 100%;
  background-color: greenyellow;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }

.about {
  padding: 50px 0; }

.shop {
  position: relative; }

.card {
  max-width: 200px; }

.dropdown-menu {
  transform: translate3d(0px, 35px, 0px) !important; }

.card-product .img-wrap {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
  position: relative;
  height: 190px;
  text-align: center; }

.card-product .img-wrap img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  border-radius: 10%; }

.card-product .info-wrap {
  overflow: hidden;
  padding: 15px 15px 5px 15px;
  border-top: 1px solid #eee;
  text-align: center; }

.card-product .bottom-wrap {
  padding: 15px 15px 5px 15px;
  border-top: 1px solid #eee; }

.label-rating {
  margin-right: 10px;
  color: #333;
  display: inline-block;
  vertical-align: middle; }

.card-product .amount {
  color: #999; }
